.register-container {
    max-width: 400px;
    margin: auto;
    padding: 15px 35px 35px 35px;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    margin-top:30px;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
}

.register-container h2 {
    text-align: center;
    margin-bottom: 20px;
    font-weight: 400;
    font-size: 1.5rem;
}

.register-container form div {
    margin-bottom: 15px;
}

.register-container label {
    display: block;
    margin-bottom: 5px;
    /* font-weight: bold; */
}

.register-container input, select {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 4px;
    border: 1px solid #ddd;
    margin-bottom:5px;
}

.register-container button {
    width: 100%;
    padding: 12px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size:1em;
    margin-top:15px;
}

.error-message {
    color: red;
    font-size: 0.9em;
    text-align: center;
}

.success-message {
    color: green;
    font-size: 0.9em;
    text-align: center;
}
