$primary-color:#0e3b5e;
$secondary-color:#89d8fb;
$font-dark-color:#1e1e1e;
$font-default-color:#2e2e2e;
$font-holder-color:#666;
$linear-blue-2:#0e3b5e;
$linear-blue-1:#448ac1;
$light-blue:rgb(235, 242, 250);

$font-stack: Arial, Helvetica, sans-serif;
$font-default:16px;
$font-sm:14px;
$font-xs:12px;
$font-weight-bold: 600;
$border-radius:5px;

$navbar-height:48px;
:root{
    --light-color: orange;
    --radius-rem-navbar:5rem;
}

