@import 'base';

%a{
    display:inline-block;
    height:35px;
    color:$font-dark-color;
    &:hover{
        font-weight: $font-weight-bold;
        border-bottom: 1px solid $linear-blue-1;
        border-radius:5px;
        color: white !important;;
        @include set-background($linear-blue-1,$linear-blue-2);
    }
}

.link-primary{
    @extend %a;  
}

%btn{
    padding:auto 25px;
    font-weight: bold;
    border-color: #1e1e1e;
    margin-top:5px auto;
    color:$font-weight-bold;
    border-radius: 5rem;
    border:1px solid $font-weight-bold;
    font-size:16px;
    &:hover{
        color:white;
        font-family: $font-weight-bold;
        border-color: var(--light-color);
        background-color:orange;
        border:none;
        
    }
}

.btn-primary{
    @extend %btn;
}

// Button Style Mixin
@mixin button-style {
    padding: 8px 16px;
    margin-top: 8px;
    border: none;
    background-color: $primary-color;
    color: white;
    font-family: $font-stack;
    cursor: pointer;
    transition: background-color 0.3s;
    border-radius: 0.3rem;
    &:hover {
        background-color: var(--light-color);
        font-weight:$font-weight-bold;
    }
  }

.btn-card{
    @include button-style;
    font-size:$font-sm;

}

// Card styles placeholder
%card-style{
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 16px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.book-card{
    @extend %card-style;
    img{
        max-width: 100%;
        height: auto;
        border-radius: 0.5rem;
        margin-bottom:8px;
        transition: transform 0.3s ease-in-out;
    }
    h3,p{
        color:$font-holder-color;
    }
}
